.email-list-and-folders {
    display: flex;
    flex-direction: row;
}

.email-details-title {
    margin-top: 40px;
    margin-left: 20px;
}

.email-details-body {
    margin-top: 40px;
    margin-left: 20px;
}

.email-list {
    flex: 1; /* Take the remaining width */
    overflow-y: auto; /* Allow vertical scrolling for the email list */
    padding: 10px; 
    margin-right: 20px;
}